<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Shop</title>
  <link rel="stylesheet" href="/static/css/header.css">
  <link rel="stylesheet" href="/static/css/list_grid.css">
  <link rel="stylesheet" href="/static/css/footer.css">
  <link rel="stylesheet" href="/static/css/login.css">
  <link rel="stylesheet" href="/static/css/style.homepage.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>.

<body>

  <!-- CONTENT -->
  <div class="container">

    <!-- HEADER WEBSITE -->
    <div class="header">
      <div class="menu">
        <div class="logo">
          <a href="/"><img src="/static/img/logo_2.png" alt="Logo shop"></a>
        </div>
        <div class="menu-list">
          <ul>
            <li><a href="/category/bottom">Quần</a></li>
            <li><a href="/category/upper">Áo</a></li>
            <li><a href="/category/shoe">Giày</a></li>
            <li><a href="/category/accessory">Phụ kiện</a></li>
            <li><a href="/category/else">Khác</a></li>
          </ul>
        </div>

      </div>

      <div class="cover">
        <form action="/search" class="search-from">
          <input type="search" name="term" placeholder="Nhập từ khóa..." class="search-txt" required>
          <button type="submit" class="search-button">Tìm kiếm</button>
        </form>
      </div>

      <div class="lio">
        <div class="lio">
          <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Đăng nhập</button>
          <div id="id01" class="lio-modal">

            <form class="lio-modal-content lio-animate" action="https://facebook.com">
              <div>
                <span onclick="document.getElementById('id01').style.display='none'" class="close"
                  title="Close Modal">&times;</span>
              </div>

              <div class="lio-container">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                <button type="submit">Đăng nhập</button>
                <label>
                  <input type="checkbox" checked="checked" name="remember"> Ghi nhớ đăng nhập
                </label>
              </div>

              <div class="lio-container" style="background-color:#f1f1f1">
                <button type="button" onclick="document.getElementById('id01').style.display='none'"
                  class="lio-cancelbtn">Cancel</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
              </div>
            </form>
          </div>
        </div>
        <script src="static/js/app.client.js">>

        </script>
      </div>

    </div>
    <div class="bar_view">
      <div class="container">
        <div class="icon">
          <a href="http://localhost:3000/list_view_category"><img src="/static/img/list_view.png"></a>
          <a href="http://localhost:3000/grid_view_category"><img src="/static/img/grid_view.png"></a>
        </div>
      </div>
    </div>

    <!-- body -->
      <% if(danhsach.rows.length != 0) {%>
        <% for (var i = 0; i < danhsach.rows.length; i++) {%>
          <div class="_product">
            <div class="_image">
              <a href="/pro_<%= danhsach.rows[i].id_product %>">
                <%var x = danhsach.rows[i].id_product %>
                <img src="<%= danhsach.rows[i].hinh_anh_san_pham%>">
              </a>
            </div>
            <div class="contentProduct">
              <h3> <%= danhsach.rows[i].ten_mat_hang %> </h3>
            </div>
            <div class="price">
              <p> <%= danhsach.rows[i].gia_moi_san_pham%> đ </p>
            </div>
          </div>
          <% } %>
        <% } else { %>
          <div class="no-result">
            <p>Không tìm thấy sản phẩm</p>
          </div>
        <% } %>
      <!-- FOOTER -->
      <div class="footer">
        <p>Footer</p>
      </div>

    </div>
  </div>
</body>

</html>
