<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="C:/git/public/css/header.css">
    <link rel="stylesheet" href="C:/git/public/css/footer.css">
    <link rel="stylesheet" href="C:/git/public/css/login.css">
    <link rel="stylesheet" href="C:/git/public/css/style.homepage.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>

  <body>

    <!-- CONTENT -->
    <div class="container">

      <!-- HEADER WEBSITE -->
      <div class="header">
        <div class="menu">
          <div class="logo">
            <a href="https://messenger.com"><img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="Logo shop"></a>
          </div>
          <div class="menu-list">
            <ul>
              <li><a href="https://google.com">Quần</a></li>
              <li><a href="https://google.com">Áo</a></li>
              <li><a href="https://google.com">Giày</a></li>
              <li><a href="https://google.com">Phụ kiện</a></li>
              <li><a href="https://google.com">Khác</a></li>
            </ul>
          </div>
        </div>

        <div class="search-bar">
          <div class="search-box">
            <input type="text" placeholder="Tìm kiếm">
          </div>
          <div class="search-btn">
            <a href="https://google.com">
              <i class="fas fa-search" ></i>
            </a>
          </div>
        </div>


    </div>
    </div >
      <p> từ ngày... đến ngày... shop sẽ giảm giá sản phẩm ... giá sản phẩm:... ấp dụng mua tại web  hoặc tại cửa hàng</p>

  </body>
</html>
