<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Insert</title>
  </head>
  <body>

    <form action="/admin/products/list" method="POST" enctype="application/x-www-form-urlencoded">
      <input type="text" name="txt_ten_mat_hang" placeholder="Tên sản phẩm" />
      <br>
      <input type="text" name="txt_loai_mat_hang" placeholder="Loại mặt hàng" />
      <br>
      <input type="text" name="txt_so_luong_san_pham" placeholder="Số lượng mặt hàng" />
      <br>
      <input type="text" name="txt_gia_moi_san_pham" placeholder="Giá mỗi sản phẩm" />
      <br>
      <input type="text" name="txt_mo_ta_san_pham" placeholder="Mô tả sản phẩm" />
      <br>
      Chọn hình ảnh: <input type="file" name="txt_hinh_anh_san_pham"><br>
      <br>
      <input type="submit" name="btn_insert" value="Thêm" />
    </form>


  </body>
</html>
